.flex-13a {
  display: flex;
  margin-bottom: 30px;
}

.flex-13a-child1 {
  background-color: lightpink;
  width: 100px;
  height: 50px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

.flex-13a-child1-child {
  background-color: black;
}

.flex-13a-child2 {
  width: 200px;
  background-color: lightblue;
}

.flex-13b {
  display: flex;
  height: 50px;
  margin-bottom: 50px;
}

.flex-13b-child1 {
  width: 100px;
  background-color: lightpink;
}

.flex-13b-child2 {
  width: 200px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

.flex-13b-child2-row2 {
  display: flex;
  justify-content: space-between;
}

.flex-13b-child2-row2-element2,
.flex-13b-child2-row2-element1 {
  background-color: black;
  color: white;
}


.gmail-interface {
  width: 370px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}

.one-mail-interface {
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
}

.all-inboxes {
  display: block;
  color: rgb(137, 136, 136);
  margin-bottom: 15px;
  font-size: 13.4px;
}

.mail-block {
  display: flex;
  flex: 1;
  align-items: center;
}

.sender-picture {
  display: flex;
}

.sender-picture img {
  width: 40px; 
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
}

.mail-information-block {
  width: 100%;
  display: block;
  margin-left: 10px;
}

.mail-sender-block {
  display: flex;
  justify-content: space-between;
}

.mail-sender {
  font-weight: bold;
}

.mail-time {
  color: rgb(153, 153, 153);
}

.mail-title {
  font-weight: bold;
  font-size: 13.5px;
}

.mail-text {
  color: rgb(137, 136, 136);
}

.tweet {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  margin-bottom: 100px;
}

.tweet-profile-pic img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
}

.tweet-content-block {
  margin-left: 15px;
}

.tweet-profile-name {
  margin-bottom: 5px;
}

.tweet-text {
  margin-bottom: 12px;
}

span {
  color: rgb(125, 125, 125);
}

.tweet-link {
  display: flex;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 15px;
  width: 340px;
  background-color: rgb(255, 255, 255);
}


.tweet-link-picture {
  background-color: rgb(227, 227, 227);
  width: 170px;
  border-radius: 13px 0px 0px 13px;
}

.tweet-link-block {
  display: block;
  padding-top: 13px;
  padding-left: 10px;
  padding-bottom: 13px;
}

.tweet-link-website {
  padding-bottom: 5px;
}









.tweet-flexbox {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  width: 400px;
}

.tweet-profile-pic-flexbox img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
}

.tweet-content-block-flexbox {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.tweet-text-flexbox {
  margin-top: 5px;
  margin-bottom: 10px;
}

.tweet-link-flexbox {
  display: flex;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 15px;
  width: 340px;
  background-color: rgb(255, 255, 255);
  height: 90px;
}

.tweet-link-picture-flexbox {
  background-color: rgb(227, 227, 227);
  width: 170px;
  border-radius: 13px 0px 0px 13px;

}

.tweet-link-block-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.tweet-link-website-flexbox {
  padding-bottom: 5px;
}




